<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="30px"
     fxLayoutGap.xs="30px">

  <div class="item item-1" fxFlex="40%">
<md-card class="employess">
<md-card-title-group class="CardGroup ">
  <a href="#" (click)="gotoEmployeesManagment($event)">
<img md-card-sm-image src="../../../assets/imgs/employees.png">
<md-card-title>Employés </md-card-title>
<md-card-subtitle>Gestion des employés</md-card-subtitle>
  </a>
</md-card-title-group>
</md-card>
</div>
  <div class="item item-1" fxFlex="40%">
<md-card class="products">
<md-card-title-group class="CardGroup">
  <a href="#" (click)="gotoProductsList($event)">
<img md-card-sm-image src="../../../assets/imgs/products.png">
<md-card-title>Produits </md-card-title>
<md-card-subtitle>Gestion Des produits</md-card-subtitle>
  </a>
</md-card-title-group>
</md-card>
</div>
</div>
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="30px"
     fxLayoutGap.xs="30px">
<div class="item item-1" fxFlex="40%" >
<md-card class="notes">
<md-card-title-group class="CardGroup">
  <a href="#" (click)="gotoEmployeesManagment($event)">
<img md-card-sm-image src="../../../assets/imgs/notes.png">
<br>
<md-card-title>Notes </md-card-title>
<md-card-subtitle>Enregistrer des notes</md-card-subtitle>
  </a>
</md-card-title-group>
</md-card>
</div>
</div>
