<div class="container"
     fxLayout
      fxLayoutGap="30px"
    fxLayoutWrap
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="30px">
     <div class="item item-1" fxFlex="40%"  >
 <md-card class="mdCard">
 
 
<form >
 
 
<div class="form-group">
    <table class="example-full-width" cellspacing="0"><tr>
     
        <td> <md-input-container class="example-full-width">
        <input mdInput [(ngModel)]="newProduct.name" type="text" class="form-control" id="name" placeholder="Nom Produit" name="Nom Produit">
   </md-input-container> </td>
   </tr>
   </table>
    </div>
 
 
 
 
<div class="form-group">
    <table class="example-full-width" cellspacing="0"><tr>
      
     <td>    <md-input-container class="example-full-width">
        <input mdInput [(ngModel)]="newProduct.description" type="text" class="form-control" id="description" placeholder="description" name="description" >
    </md-input-container> </td>
    </tr>
    </table>
    </div>
 
  <div class="form-group">
     <table class="example-full-width" cellspacing="0"><tr>
     
       <td>  <md-input-container class="example-full-width">
        <input mdInput [(ngModel)]="newProduct.height" type="number" class="form-control" id="Hauteur" placeholder="Hauteur" name="Hauteur">
     </md-input-container> </td>
     </tr>
    </table>
    </div>
 
 
 
 
<div class="form-group">
    <table class="example-full-width" cellspacing="0"><tr>
    
    <td>     <md-input-container class="example-full-width">
        <input mdInput [(ngModel)]="newProduct.weight" type="number" class="form-control" id="Poid" placeholder="Poid"name="Poid">
   </md-input-container> </td>
   </tr>
    </table>
    </div>
 
 
    <button md-raised-button (click)="saveEmployee()" type="button" class="btn btn-default">sauvegarder</button>
    <button md-raised-button (click)="cancelAdd()" type="button" class="btn btn-danger">Annuler</button>
</form>
</md-card>
     </div>
</div>

