
<div class="about">

  <div class="profile-card">

    <div class="header">

      <a href="#" [routerLink]="['/home']">
        <img src="../assets/imgs/products.png" />
      </a>

      <h1>Description</h1>
       product/employees management app
     
      Realized by Khaled bouguerra (big fun of angular && rxjs)
    </div>

    <div class="profile-bio">

      

    </div>

    <ul class="profile-social-links">

      <li>
        <a href="#" [routerLink]="['/home']">
          <i class="fa fa-arrow-left"></i>
        </a>
      </li>

      <li>
        <a href="https://github.com/khaledbouguerra/angular-2-mgt-app" target="_blank">
          <i class="fa fa-github"></i>
        </a>
      </li>

      <li>
        <a href="https://twitter.com/JsBotReaper" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </li>

    </ul>
  </div>
</div>